@charset "UTF-8";

a,big,canvas,dd,div,dl,dt,em,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,img,input,label,li,nav,ol,p,section,small,span,strong,table,tbody,td,tfoot,th,thead,tr,tt,ul{margin:0;padding:0;outline:0;vertical-align:baseline;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit}
*,::after,::before{box-sizing:border-box;-webkit-tap-highlight-color:transparent}
li,ol,ul{list-style:none}
button{border:none}
table {border-spacing: 0;  border-collapse: collapse; }
button,input,select,textarea{outline:0;font-family:inherit}
img{border:none}
a{text-decoration:none;cursor:pointer;-webkit-tap-highlight-color:transparent}

html , body {
    min-height: 100%;
}
body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Microsoft YaHei", Arial , sans-serif;
    line-height: 1.5;
    color: #666;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafcfd;
    background: -webkit-linear-gradient(top, #dcebf1 0%, #fafcfd 40%);
    background: -moz-linear-gradient(top, #dcebf1 0%, #fafcfd 40%);
    background: -o-linear-gradient(top, #dcebf1 0%, #fafcfd 40%);
    background: -ms-linear-gradient(top, #dcebf1 0%, #fafcfd 40%);
    background: linear-gradient(to bottom, #dcebf1 0%, #fafcfd 40%);
}
small {font-size: 75%}
.table_wrap {
    padding: 0 12px 20px;
    max-width: 600px;
    margin: 0 auto;
}
.table_wrap h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.table_wrap table {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}
.table_wrap table th {
    padding: 0;
}
.table_wrap table td {
    padding: 6px;
    text-align: center;
    max-width: 20%;
    white-space: nowrap;
    overflow: hidden;
}
.table_wrap table td.tit {
    text-align: left;
}
.table_wrap table .tit,
.table_wrap table .last {
    width: 20%;
}
.table_wrap table .last {
    text-align: center;
}
.table_wrap input {
    text-align: center;
    height: 28px;
    line-height: 28px;
    width: 100%;
    border: none;
    border-radius: 3px;
}
.btn_wrap {
    text-align: justify;
}
.btn_wrap button, .btn_wrap input {
    display: inline-block;
    font-size: 16px;
}
.btn_wrap button {
    width: 23.5%;
    line-height: 28px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #777;
    cursor: pointer;
}
.btn_wrap button.on {
    border-color: #DA2536;
    color: #DA2536;
}
.btn_wrap input {
    width: 100%;
    text-align: left;
    /*padding: 2px 1em 0;*/
    margin: 10px 0;
    padding: 0 1em;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.tips {
    font-size: 12px;
    color: #888;
    padding-top: 30px;
}
.tips p {
    margin-bottom: 5px;
}
.tips p.image_wrap {
    text-align: center;
    padding-top: 10px;
}
.tips p.image_wrap img {
    width: 50%;
}
.pull_index {
    text-align: center;
}
.pull_index h2 {
    text-align: left;
    margin-bottom: 10px;
}
.pull_index input{
    background-color: transparent;
    border: 1px solid #e5e5e5;
}
.pull_index table td {
    padding-bottom: 0;
}
.row{display:-webkit-box;display:-moz-flex;display:-ms-flexbox;display:flex;width:100%;padding:0}
.row-wrap{-ms-flex-wrap:wrap;flex-wrap:wrap}
.row-no-padding{padding:0}
.row-no-padding>.col{padding:0}
.col{display:block;width:100%;-webkit-box-flex:1;-moz-flex:1;-ms-flex:1;flex:1}
.row-top{-webkit-box-align:start;-ms-flex-align:start;-moz-align-items:flex-start;align-items:flex-start}
.row-bottom{-webkit-box-align:end;-ms-flex-align:end;-moz-align-items:flex-end;align-items:flex-end}
.row-center{-webkit-box-align:center;-ms-flex-align:center;-moz-align-items:center;align-items:center}
.row-stretch{-webkit-box-align:stretch;-ms-flex-align:stretch;-moz-align-items:stretch;align-items:stretch}
.row-baseline{-webkit-box-align:baseline;-ms-flex-align:baseline;-moz-align-items:baseline;align-items:baseline}
.col-top{-ms-flex-item-align:start;align-self:flex-start}
.col-bottom{-ms-flex-item-align:end;align-self:flex-end}
.col-center{-ms-flex-item-align:center;align-self:center}
.col-offset-10{margin-left:10%}
.col-offset-20{margin-left:20%}
.col-offset-25{margin-left:25%}
.col-offset-33,.col-offset-34{margin-left:33.3333%}
.col-offset-50{margin-left:50%}
.col-offset-66,.col-offset-67{margin-left:66.6666%}
.col-offset-75{margin-left:75%}
.col-offset-80{margin-left:80%}
.col-offset-90{margin-left:90%}
.col-10{max-width:10%;-webkit-box-flex:0;-moz-flex:0 0 10%;-ms-flex:0 0 10%;flex:0 0 10%}
.col-20{max-width:20%;-webkit-box-flex:0;-moz-flex:0 0 20%;-ms-flex:0 0 20%;flex:0 0 20%}
.col-25{max-width:25%;-webkit-box-flex:0;-moz-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%}
.col-33,.col-34{max-width:33.3333%;-webkit-box-flex:0;-moz-flex:0 0 33.3333%;-ms-flex:0 0 33.3333%;flex:0 0 33.3333%}
.col-40{max-width:40%;-webkit-box-flex:0;-moz-flex:0 0 40%;-ms-flex:0 0 40%;flex:0 0 40%}
.col-50{max-width:50%;-webkit-box-flex:0;-moz-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%}
.col-60{max-width:60%;-webkit-box-flex:0;-moz-flex:0 0 60%;-ms-flex:0 0 60%;flex:0 0 60%}
.col-66,.col-67{max-width:66.6666%;-webkit-box-flex:0;-moz-flex:0 0 66.6666%;-ms-flex:0 0 66.6666%;flex:0 0 66.6666%}
.col-75{max-width:75%;-webkit-box-flex:0;-moz-flex:0 0 75%;-ms-flex:0 0 75%;flex:0 0 75%}
.col-80{max-width:80%;-webkit-box-flex:0;-moz-flex:0 0 80%;-ms-flex:0 0 80%;flex:0 0 80%}
.col-90{max-width:90%;-webkit-box-flex:0;-moz-flex:0 0 90%;-ms-flex:0 0 90%;flex:0 0 90%}

