@charset "UTF-8";

a,big,canvas,dd,div,dl,dt,em,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,img,input,label,li,nav,ol,p,section,small,span,strong,table,tbody,td,tfoot,th,thead,tr,tt,ul{margin:0;padding:0;outline:0;vertical-align:baseline;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit}
*,::after,::before{box-sizing:border-box;-webkit-tap-highlight-color:transparent}
li,ol,ul{list-style:none}
button{border:none}
table {border-spacing: 0;  border-collapse: collapse; }
button,input,select,textarea{outline:0;font-family:inherit}
img{border:none}
a{text-decoration:none;cursor:pointer;-webkit-tap-highlight-color:transparent}

html , body {
    min-height: 100%;
}
body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Microsoft YaHei", Arial , sans-serif;
    line-height: 1.5;
    color: #666;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafcfd;
    background: -webkit-linear-gradient(top, #dcebf1 0%, #fafcfd 40%);
    background: -moz-linear-gradient(top, #dcebf1 0%, #fafcfd 40%);
    background: -o-linear-gradient(top, #dcebf1 0%, #fafcfd 40%);
    background: -ms-linear-gradient(top, #dcebf1 0%, #fafcfd 40%);
    background: linear-gradient(to bottom, #dcebf1 0%, #fafcfd 40%);
}
.table_wrap {
    padding: 0 12px 20px;
    max-width: 600px;
    margin: 0 auto;
}
.table_wrap h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.table_wrap table {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}
.table_wrap table th {
    padding:  0;
}
.table_wrap table td {
    padding: 6px;
    text-align: center;
    max-width: 20%;
    white-space: nowrap;
    overflow: hidden;
}
.table_wrap table td.tit {
    text-align: left;
}
.table_wrap table .tit,.table_wrap table .last {
    width: 20%;
}
.table_wrap table .last {
    text-align: center;
}
.table_wrap input {
    text-align: center;
    height: 28px;
    line-height: 28px;
    width: 100%;
    border: none;
    border-radius: 3px;
}
.btn_wrap {
    text-align: justify;
}
.btn_wrap button, .btn_wrap input {
    display: inline-block;
    font-size: 16px;
}
.btn_wrap button {
    width: 23.5%;
    line-height: 28px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #777;
    cursor: pointer;
}
.btn_wrap button.on {
    border-color: #DA2536;
    color: #DA2536;
}
.btn_wrap input {
    width: 100%;
    text-align: left;
    padding: 2px 1em 0;
    margin: 10px 0;
    height: 36px;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.tips {
    font-size: 12px;
    color: #888;
    padding-top: 30px;
}
.tips p {
    margin-bottom: 5px;
}
.tips p.image_wrap {
    text-align: center;
    padding-top: 10px;
}
.tips p.image_wrap img {
    width: 50%;
}
