@charset "UTF-8";
html , body {
    min-height: 100%;
}

small {font-size: 75%}
.table_wrap {
    padding: 0 .24rem;
    margin: 0 auto;
    font-size: .28rem;
}
.table_wrap h2 {
    font-size: .32rem;
    font-weight: bold;
    margin-top: .2rem;
}
.table_wrap h3 {
    line-height: 2;
}
.table_wrap table {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    line-height: 1.4;
}
.table_wrap table th {
    padding: .1rem 0;
}
.table_wrap table td {
    padding: .12rem;
    text-align: center;
    max-width: 20%;
    white-space: nowrap;
    overflow: hidden;
}
.table_wrap table td.tit {
    text-align: left;
}
.table_wrap table .tit,
.table_wrap table .last {
    width: 20%;
}
.table_wrap table .last {
    text-align: center;
}
.table_wrap input {
    text-align: center;
    height: .56rem;
    line-height: .54rem;
    width: 100%;
    border: none;
    border-radius: .06rem;
}
.btn_wrap {
    text-align: justify;
}
.btn_wrap button, .btn_wrap input {
    display: inline-block;
    font-size: .32rem;
}
.btn_wrap button {
    width: 23.5%;
    line-height: .54rem;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: .1rem;
    color: #777;
    cursor: pointer;
}
.btn_wrap button.on {
    border-color: #DA2536;
    color: #DA2536;
}
.btn_wrap input {
    width: 100%;
    text-align: left;
    /*padding: 2px 1em 0;*/
    margin: .2rem 0;
    padding: 0 1em;
    height: .72rem;
    line-height: .68rem;
    font-size: .28rem;
    box-shadow: 0 0 .1rem rgba(0,0,0,0.1);
}

.pull_index {
    text-align: center;
}
.pull_index h2 {
    text-align: left;
    margin-bottom: .2rem;
}
.pull_index input{
    /*background-color: transparent;*/
    border: 1px solid #e5e5e5;
    background-color: #fff;
}
.pull_index table td {
    padding-bottom: 0;
}
.goal_index td {
    padding: .04rem !important;
}
.goal_index .col{
    padding: 0 .1rem;
}
.compare table td {
    padding: .06rem;
}

.odd_list {
    font-size: .26rem;
    padding: .24rem;
}
.odd_list table {
    width: 100%;
}
.odd_list tr {
    border-bottom: 1px solid #e5e5e5;
}
.odd_list td {
    padding: 5px 0;
    line-height: 1.4;
}
.odd_list td.name {
    width: 20%;
}
.odd_list td.odd {
    width: 50%;
    text-align: center;
}
.odd_list td.odd span {
    display: inline-block;
    width: 30%;
}
.odd_list td.date {
    width: 30%;
    text-align: right;
}
.getGoalsBox {
    margin-top: .2rem;
}
.getGoalsBox .col {
    padding: .1rem;
}
.getGoalsBox button.button {
    width: 100%;
    line-height: .56rem;
    font-size: .26rem;
}

