
<ion-view title="赔率" hide-nav-bar="false">
    <ion-content class="">

        <div>
            <div class="item input-wrap item-button-right">
                <input type="text" placeholder="输入编号" style="height: 98%;width: 100%" ng-model="data.gameId">
                <button class="button button-clear" ng-click="getData()">确定</button>
            </div>

        </div>
        <div class="odd_list">
            <table>
                <tr ng-repeat="item in data.infos">
                    <td class="name">{{item.name}}</td>
                    <td class="odd">
                        <span>{{item.home}}</span>
                        <span>{{item.draw}}</span>
                        <span>{{item.guest}}</span>
                    </td>
                    <td class="date">{{item.date}}</td>
                </tr>
            </table>
        </div>

    </ion-content>
</ion-view>
