
<ion-view title="赔率" hide-nav-bar="false">
    <ion-content scroll="false" class="self_page">

        <div>
            <div class="item input-wrap item-button-right">
                <input type="text" placeholder="输入编号" style="height: 98%;width: 100%" ng-model="gameId">
                <button class="button button-clear" ng-click="getData()">确定</button>
            </div>

        </div>
        <div class="odd_list">
            
        </div>

    </ion-content>
</ion-view>
